@tailwind base;
@tailwind components;
@tailwind utilities;

.heart-icon:hover {
  fill: rgb(235, 79, 92);
  stroke: rgb(235, 79, 92);
  cursor: pointer;
}
.trash-icon:hover {
  stroke: rgb(235, 79, 92);
  cursor: pointer;
}
.update-icon:hover {
  stroke: rgb(242, 177, 52);
  cursor: pointer;
}
